!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title New User
    %link{:href => "data:image/x-icon;,", :rel => "shortcut icon", :type => "image/x-icon"}/
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "css/user.css", :rel => "stylesheet"}/
  %body
    %a{:href => '/new'} New User

    %script{:src => "js/jquery-2.1.4.min.js"}
    %script{:src => "js/bootstrap.min.js"}
    %script{:src => "js/user_cru.js"}
